nav {
  height: 100px;
  width: 100%;
  background-color: black;
  top: 0;
}

.nav-links {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: inherit;
}

.nav-home {
  margin-left: 20px;
}

.nav-links-right {
justify-self: flex-end;
display: flex;
flex-direction: row;
}

.nav-summary, .nav-trivia {
  grid-column: 2;
  justify-self: flex-end;
  margin-right: 20px;
}

.nav-links a {
  color: silver;
  font-size: 20px;
}

.nav-links a:hover {
  color: antiquewhite;
}