.genre {
  text-align: center;
}

.q-and-a {
  width: 40%;
  min-width: 400px;
  max-width: 800px;
  margin: auto;
}

.question {
  text-align: center;
}

.all-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrong-answer {
  background-color: red;
}

.correct-answer {
  background-color: green;
}
